.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  font-family: 'Merriweather', serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

/* Game Section 
===============*/
.btn {
  text-decoration: none;
  border: 3px  solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 10%;
  margin: 0 auto;
  padding: 5px 30px;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: white;
  border-color: #393E46;
  color: #393E46;
}


/* Footer Section
================= */
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

footer a {
  text-decoration: none;
  color: wheat;
}

footer a:hover {
  transition: all 0.25s;
  color: burlywood;
}